parameters:
	ignoreErrors:
		-
			message: '#^For loop initial assignment overwrites variable \$index\.$#'
			identifier: for.variableOverwrite
			count: 1
			path: src/Collector/PhpTokenTokenizeConstructFromSourceCollector.php

		-
			message: '#^For loop initial assignment overwrites variable \$index\.$#'
			identifier: for.variableOverwrite
			count: 1
			path: src/Collector/TokenGetAllConstructFromSourceCollector.php

		-
			message: '#^Class Ergebnis\\Classy\\Test\\Fixture\\Classy\\Php81\\WithinMultipleNamespaces\\Bar\\Bar not found\.$#'
			identifier: class.notFound
			count: 1
			path: test/DataProvider/Php81.php

		-
			message: '#^Class Ergebnis\\Classy\\Test\\Fixture\\Classy\\Php81\\WithinMultipleNamespaces\\Bar\\Baz not found\.$#'
			identifier: class.notFound
			count: 1
			path: test/DataProvider/Php81.php

		-
			message: '#^Class Ergebnis\\Classy\\Test\\Fixture\\Classy\\Php81\\WithinMultipleNamespaces\\Bar\\Foo not found\.$#'
			identifier: class.notFound
			count: 1
			path: test/DataProvider/Php81.php

		-
			message: '#^Class Ergebnis\\Classy\\Test\\Fixture\\Classy\\Php81\\WithinMultipleNamespaces\\Bar\\Qux not found\.$#'
			identifier: class.notFound
			count: 1
			path: test/DataProvider/Php81.php

		-
			message: '#^Class Ergebnis\\Classy\\Test\\Fixture\\Classy\\Php81\\WithinMultipleNamespaces\\Foo\\Bar not found\.$#'
			identifier: class.notFound
			count: 1
			path: test/DataProvider/Php81.php

		-
			message: '#^Class Ergebnis\\Classy\\Test\\Fixture\\Classy\\Php81\\WithinMultipleNamespaces\\Foo\\Baz not found\.$#'
			identifier: class.notFound
			count: 1
			path: test/DataProvider/Php81.php

		-
			message: '#^Class Ergebnis\\Classy\\Test\\Fixture\\Classy\\Php81\\WithinMultipleNamespaces\\Foo\\Foo not found\.$#'
			identifier: class.notFound
			count: 1
			path: test/DataProvider/Php81.php

		-
			message: '#^Class Ergebnis\\Classy\\Test\\Fixture\\Classy\\Php81\\WithinMultipleNamespaces\\Foo\\Qux not found\.$#'
			identifier: class.notFound
			count: 1
			path: test/DataProvider/Php81.php

		-
			message: '#^Class Ergebnis\\Classy\\Test\\Fixture\\Classy\\Php81\\WithinNamespaceWithBraces\\Bar not found\.$#'
			identifier: class.notFound
			count: 1
			path: test/DataProvider/Php81.php

		-
			message: '#^Class Ergebnis\\Classy\\Test\\Fixture\\Classy\\Php81\\WithinNamespaceWithBraces\\Baz not found\.$#'
			identifier: class.notFound
			count: 1
			path: test/DataProvider/Php81.php

		-
			message: '#^Class Ergebnis\\Classy\\Test\\Fixture\\Classy\\Php81\\WithinNamespaceWithBraces\\Foo not found\.$#'
			identifier: class.notFound
			count: 1
			path: test/DataProvider/Php81.php

		-
			message: '#^Class Ergebnis\\Classy\\Test\\Fixture\\Classy\\Php81\\WithinNamespaceWithBraces\\Qux not found\.$#'
			identifier: class.notFound
			count: 1
			path: test/DataProvider/Php81.php

		-
			message: '#^Class Ergebnis\\Classy\\Test\\Fixture\\Classy\\Php81\\WithinNamespace\\Bar not found\.$#'
			identifier: class.notFound
			count: 1
			path: test/DataProvider/Php81.php

		-
			message: '#^Class Ergebnis\\Classy\\Test\\Fixture\\Classy\\Php81\\WithinNamespace\\Baz not found\.$#'
			identifier: class.notFound
			count: 1
			path: test/DataProvider/Php81.php

		-
			message: '#^Class Ergebnis\\Classy\\Test\\Fixture\\Classy\\Php81\\WithinNamespace\\Foo not found\.$#'
			identifier: class.notFound
			count: 1
			path: test/DataProvider/Php81.php

		-
			message: '#^Class Ergebnis\\Classy\\Test\\Fixture\\Classy\\Php81\\WithinNamespace\\Qux not found\.$#'
			identifier: class.notFound
			count: 1
			path: test/DataProvider/Php81.php

		-
			message: '#^Class Ergebnis\\Classy\\Test\\Fixture\\Classy\\Php81\\WithinNamespace\\Bar not found\.$#'
			identifier: class.notFound
			count: 1
			path: test/Unit/Collector/DefaultConstructFromFinderCollectorTest.php

		-
			message: '#^Class Ergebnis\\Classy\\Test\\Fixture\\Classy\\Php81\\WithinNamespace\\Baz not found\.$#'
			identifier: class.notFound
			count: 1
			path: test/Unit/Collector/DefaultConstructFromFinderCollectorTest.php

		-
			message: '#^Class Ergebnis\\Classy\\Test\\Fixture\\Classy\\Php81\\WithinNamespace\\Foo not found\.$#'
			identifier: class.notFound
			count: 1
			path: test/Unit/Collector/DefaultConstructFromFinderCollectorTest.php

		-
			message: '#^Class Ergebnis\\Classy\\Test\\Fixture\\Classy\\Php81\\WithinNamespace\\Qux not found\.$#'
			identifier: class.notFound
			count: 1
			path: test/Unit/Collector/DefaultConstructFromFinderCollectorTest.php
