includes:
	- phpstan-baseline.neon

parameters:
	ergebnis:
		classesAllowedToBeExtended:
			- InvalidArgumentException
			- LogicException
			- ParseError
			- RuntimeException
	excludes_analyse:
		- %currentWorkingDirectory%/test/Fixture
	inferPrivatePropertyTypeFromConstructor: true
	level: max
	paths:
		- src
		- test
	tmpDir: %currentWorkingDirectory%/.build/phpstan
