includes:
	- vendor/localheinz/phpstan-rules/rules.neon
	- vendor/phpstan/phpstan-deprecation-rules/rules.neon
	- vendor/phpstan/phpstan-strict-rules/rules.neon
	- vendor/phpstan/phpstan/conf/config.levelmax.neon

parameters:
	excludes_analyse:
		- %currentWorkingDirectory%/test/Fixture
	ignoreErrors:
		- '#Parameter \#1 ...\$fileNames of method Localheinz\\Classy\\Construct::definedIn\(\) expects string, string\|false given.#'
	tmpDir: %currentWorkingDirectory%/.phpstan
