includes:
	- vendor/localheinz/phpstan-rules/rules.neon
	- vendor/phpstan/phpstan-deprecation-rules/rules.neon
	- vendor/phpstan/phpstan-strict-rules/rules.neon
	- vendor/phpstan/phpstan/conf/bleedingEdge.neon
	- vendor/phpstan/phpstan/conf/config.levelmax.neon

parameters:
	classesAllowedToBeExtended:
		- InvalidArgumentException
		- Localheinz\Classy\Test\Unit\Exception\AbstractTestCase
		- ParseError
		- RuntimeException
	excludes_analyse:
		- %currentWorkingDirectory%/test/Fixture
	ignoreErrors:
		- '#Call to deprecated method assertArraySubset\(\) of class PHPUnit\\Framework\\Assert:.*#'
		- '#Parameter \#1 ...\$fileNames of method Localheinz\\Classy\\Construct::definedIn\(\) expects string, string\|false given\.#'
		- '#Parameter \#1 \$filename of function file_get_contents expects string, string|false given\.#'
	inferPrivatePropertyTypeFromConstructor: true
	paths:
		- src
		- test
	tmpDir: %currentWorkingDirectory%/.build/phpstan
